body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tictactoe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    color: white;
}

.cell {
    color: white;

    min-height: 4rem;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
}

.action-btn {
    grid-column: 2 / 3;
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}