/* Way too many hardcoded values, need to learn how to use (local variables). */

/* Debugging end */
:root {
    --grey-background-color: rgb(238, 238, 238);
    --white-background-color: white;
    --green-background-color: rgb(116, 175, 28);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 0;
}


.container {
    display: grid;
    grid-template: 16rem 5fr / 1fr 5fr;
    height: 100vh;
}

.panel {
    background-color: var(--green-background-color);
    padding: 1rem 2rem 0 2rem;

    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4rem repeat(11, 2rem) 1fr;
    align-items: center;
    gap: 1rem;
}

.panel h4 {
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.panel p {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

.panel span {
    color: white;
}

.panel-empty-row {
    grid-column: 1 / 3;
}

.panel span {
    justify-self: flex-end;
}

.header {
    padding: 1rem 1rem;

    grid-area: 1 / 2 / 2 / 3;
    gap: 1rem;

    display: grid;
    grid-template: 5rem 9rem / 3fr 2fr;
}

form {
    display: flex;
    align-items: center;
}

form input {
    flex: 1;
    background-color: var(--grey-background-color);
    border-radius: 10px;
    border: none;
    outline: none;
}

.header-search-bar {
    display: flex;
    align-items: center;
}

.header-account-area {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header-account-area p {
    font-weight: 900;
}

.header-greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    column-gap: 1rem;
    row-gap: 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 3fr;
}

.header-greeting-img {
    grid-area: 2 / 1 / 5 / 2;
    background-color: rgb(255, 174, 0);
    height: clamp(1rem, 80px, 80px);
    width: auto;
    border-radius: 50%;
    align-self: center;
}

.header-greeting-text {
    grid-area: 2 / 2 / 3 / 3;

    align-self: flex-end;
}

.header-greeting-account-name {
    grid-area: 3 / 2 / 4 / 3;
    font-weight: 900;
    font-size: 1.5rem;
}

.header-greeting h3 {
    grid-area: 2 / 2 / 3 / 3;
}

.header-buttons {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

button {
    background-color: var(--green-background-color);
    border: 0;
    outline: 0;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    flex: 1;
    font-weight: 900;
    color: white;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--grey-background-color);

    display: grid;
    gap: 1rem;
    grid-template: minmax(2rem, 3rem) 1fr / 3fr 1fr;
}

.content-projects-par {
    padding-left: 1rem;
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-end;
}

.content-announcements-par {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
}

.content-projects-container {
    padding-left: 2rem;
    grid-area: 2 / 1 / 8 / 2;

    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: clamp(6rem, 14rem, 14rem);
}

.content-projects-card {
    box-shadow: -10px 0 0 rgb(255, 162, 0),
        2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem 1rem;
    background-color: var(--white-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card-text {
    overflow: scroll;
}

.project-actions {
    align-self: flex-end;

    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.announcement-trending-container {
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template-rows: 1fr minmax(2rem, 3rem) 1fr;
}

.announcements {
    padding: 1rem 1rem;
    grid-row: 1 / 2;

    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);

    background-color: var(--white-background-color);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    margin-right: 1rem;
}

.announcements div:first-child {
    border-bottom: 1px solid #dfdfdf;
}

.announcements div:last-child {
    border-top: 1px solid #dfdfdf;
}


.announcement-title {
    font-weight: 900;
}

.announcement-summary {
    margin: 0 0;
    color: rgb(133, 133, 133);
    font-size: 0.8rem;
    font-weight: 600;
}

.trending-par {
    padding: 2rem 0 1rem 0;
    grid-row: 2 / 3;
}

.trending {
    padding: 1rem 1rem;

    grid-row: 3 / 4;

    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(4, 1fr);

    background-color: white;
    margin-right: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.trending-account {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    align-items: center;
}

.trending-account img {
    grid-column: 1 / 2;
}

.trending-account-handle {
    align-self: flex-end;
}

.trending-account-name {
    align-self: self-start;
}

.small-img {
    height: clamp(1rem, 38px, 38px);
    width: auto;
}

.trending-par,
.content-announcements-par,
.content-projects-par {
    font-weight: 900;
    font-size: 1.2rem;
}