body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell {
    background-color: gray;
    opacity: 70%;
    min-height: 0.5rem;
    min-width: 0.5rem;
}