body {
  margin: 0;
  padding: 0 4rem;
  background-image: url("./assets/pizza.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

nav {
  display: flex;
  margin: 2rem auto;
  background-color: cornsilk;
  opacity: 90%;
  border-radius: 10px;
  max-width: fit-content;
  align-self: center;
}

#content {
  background-color: cornsilk;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0 4rem;
  align-items: stretch;
  gap: 2rem;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.review-proper {
  max-width: 50cqw;
}

.review-author {
  align-self: flex-end;
  margin-right: 4rem;
  font-style: italic;
}

#content h1 {
  align-self: center;
}

#menu {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.pizza-img {
  background-color: chocolate;
  height: 10rem;
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
}

.menu-item p {
  max-width: 9rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.schedule {
  align-self: center;
}

.content {
  margin: 0 auto;
}

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: black;
  padding: 2rem 2rem;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

a:hover {
  background-color: cornsilk;
  border: 1px solid rgb(85, 161, 122);
}
