body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 0.1rem solid black;
    background-color: darkgray;
    padding: 0.2rem 0.2rem;
    min-width: 15rem;
    min-height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
}

.row {
    display: flex;
    flex: auto;
    justify-content: space-between;
    gap: 0.3rem;
}

.calculator-display {
    background-color: aliceblue;
    padding: 0.2rem;
}

.calculator-display-input {
    text-align: right;
}

button {
    width: 1rem;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}