body {
    display: flex;
    margin: 0 0;
}

.banner {
    flex: 1 1 auto;
    background-image: url("images/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.odin-banner-space-before {
    flex: 1;
}

.odin-banner {
    flex: 1;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.45);
    padding-top: 1rem 0 1rem 0;
}

.odin-banner-space-after {
    flex: 3;
}

.odin-image {
    max-height: 80%;
    width: auto;
    object-fit: contain;
    display: block;
}

@font-face {
    font-family: odinFont;
    src: url('fonts/Norse-Bold.otf');
}

.odin-writing {
    font-family: odinFont;
    font-size: clamp(1rem, 10cqh, 10cqh);
    color: white;
    margin: 0 0;
}

.banner-image-credit {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-image-credit>p a:visited,
.banner-image-credit>p a:hover,
.banner-image-credit>p a {
    color: white;
}

.content {
    flex: 3 3 auto;
    height: 100vh;
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
}

.preamble {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 900;
    padding: 3rem 3rem;
}

.content-empty-space {
    flex: 1;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-input-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1rem 0rem 3rem 3rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.form-cell {
    display: flex;
    flex-direction: column;
}

.form-submit-area {
    padding-left: 3rem;
}

.form-submit-area>h4>a {
    text-decoration: none;
    color: #596D48;
}

.form-submit-button {
    background-color: #596D48;
    color: white;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-submit-button:hover {
    background-color: #717171;
}

.form-submit-area>h4>a:visited,
.form-submit-area>h4>a:hover {
    color: #596D48;
}

input {
    border: 1px solid #E5E7EB;
}

input:invalid {
    border: 1px solid rgb(248, 91, 91);
}

input:focus {
    outline: 1px solid rgb(131, 201, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}