{% extends "base.html" %}

{% block title %}
    Blog.
{% endblock %}

{% block content %}
<header id="main-navigation">
    <h1><a href="">Blog</a></h1>
    <nav>
        <a href="">All posts</a>
    </nav>
</header>
Welcome to yet another blog app.
<section id="welcome">
    <header>
        <img src="" alt="Author of this blog." />
        <h2> Blog's blog </j2>
    </header>
    <p>Hi, my name is Blog and this is my blog.</p>
</section>

<section id="latest-posts">
    <h2>Latest posts</h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Mountain viking"/>
                    <div class = "post__content">
                        <h3>Mountain viking</h3>
                        <p>I thought we were going hiking 
                            but I'm dyslexic.</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>
<section id="about">
    <h2>What we do</h2>
    <p>{% lorem 3 b random %}</p>
</section>
{% endblock %}