h1 {
  color: white;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
}

.carousel {
  min-height: 26rem;
  background-color: gray;
  display: flex;
  position: relative;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  flex: 1;
}

.carousel-img {
  object-fit: cover;
  flex: 1;
}

.carousel-img {
  display: none;
}

.carousel-img.active {
  display: inline;
}

.prev,
.next {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.prev:hover,
.next:hover {
  filter: brightness(1.2);
}

.prev {
  left: 0;
  padding-left: 1rem;
}

.next {
  right: 0;
  padding-right: 1rem;
}

.carousel-control-next,
.carousel-control-prev {
  min-width: 2rem;
}

.nav-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 10px;
  width: 100%;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dot.active {
  background-color: #bbb;
  border-color: #888;
}
