h1 {
  color: white;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
}

.carousel {
  min-height: 26rem;
  background-color: gray;
  display: flex;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  flex: 1;
}

.carousel-img {
  object-fit: cover;
  flex: 1;
}

.carousel-img {
  display: none;
}

.carousel-img.active {
  display: inline;
}
