body {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

p {
  font-family: "Roboto", serif;
}

.header-image-container {
  background-color: rgb(162, 162, 162);
  min-height: 300px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-image-container h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 2rem;
}

h2 {
  font-size: 2rem;
  align-self: center;
  margin: 4rem 0 0 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0 0 0;
}

.header-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header-icon {
  font-size: 1.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

.project {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-img {
  color: white;
  font-size: 3rem;
  padding: 2rem;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-header {
  display: flex;
  justify-content: space-around;
}

.project-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-icon {
  font-size: 25px;
  max-height: 25px;
}

.project-descr {
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: white;
  background-color: rgb(36, 182, 255);
  align-items: center;
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 300px;
}

.footer-sep {
  display: flex;
  flex-direction: column;
}

.footer-img {
  max-width: 100%;
}

p {
  margin: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
  color: black;
}

.footer-small-icon {
  max-height: 1rem;
}

/* Medium Screen */
@media (min-width: 768px) {
  .footer-sep h2 {
    align-self: flex-start;
  }

  .footer {
    flex-direction: row;
  }

  .footer-text-container {
    flex: 3 3 auto;
  }

  .footer-img {
    flex: 4 4 auto;
    max-height: 400px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}

/* Large screen */
@media (min-width: 1024px) {
}
