body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}

.header,
.main,
.footer {
    max-width: 90rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: stretch;
}

.header {
    background-color: #1F2937;
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    min-width: 2rem;
}

.header-logo {
    font-size: 1rem;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 1rem;
}

.title-section {
    background-color: #1F2937;
    padding: 1rem 10rem;
    gap: 3rem;

    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.title-subsection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: -0.5rem;
}

.title-caption-text {
    font-size: 1.125rem;
    color: #E5E7EB;
}

.title-text {
    font-size: 3rem;
    margin-bottom: 0;
    color: #F9FAF8;
    font-weight: 900;
}

.title-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-image {
    max-height: 13rem;
    width: auto;
    flex: 1;
    object-fit: contain;
}


.card-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
}

.cards-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    padding: 1rem 10rem;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-image {
    border: 0.15rem solid #3882F6;
    padding: 0.1rem;
    max-width: 5rem;
    max-height: 5rem;
}

.quote-section {
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
}

.quote-section p {
    margin-bottom: 0;
    margin-top: 0;
}

.body-quote {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 300;

}

.body-quote-author {
    font-weight: 900;

    align-self: flex-end;
    justify-self: flex-start;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5rem 10rem;
}

.cta-container {
    background-color: #3882F6;
    display: flex;
    gap: 3rem;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
}

.cta-text {
    color: #E5E7EB;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0rem;
}

.cta-text p {
    margin: 0.2rem 0;
}

.cta-title {
    margin-bottom: 0;
}

.cta-title {
    font-size: 1.1rem;
    font-weight: 900;
    align-self: flex-start;
}


.sign-up-button {
    background-color: #3882F6;
    border-radius: 0.4rem;
    border-color: #3882F6;
    border-style: solid;
    padding: 0.2rem 1.2rem;
    color: white;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

#section-sign-up-button {
    border-color: #E5E7EB;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    min-height: 3rem;
    padding: 2rem, 10rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}